
@{
    Layout = null;
}
@using Velo.Models
@model ACCOUNT
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Velo</title>
    <link href="~/assets/css/home.css" rel="stylesheet" />
    <link href="~/assets/css/chat.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="~/assets/css/chat.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="home-container">
        <div class="nav-area">
            <nav class="navbar navbar-static-top">
                @*<ul class="navbar-nav">
                        <li class="active"><i class="fas fa-clock"></i></li>
                        <li><i class="fas fa-comments"></i></li>
                        <li><i class="fas fa-bell"></i></li>
                    </ul>*@
                <div id="recent" class="col-lg-4 navbar-btn btn-active">
                    <i class="fas fa-clock"></i>
                    @*<div class="nav-area__child"><h2>Recent</h2></div>*@
                </div>
                <div id="message" class="col-lg-4 navbar-btn">
                    <i class="fas fa-comments"></i>
                    @*<div class="nav-area__child"><h2>Message</h2></div>*@
                </div>
                <div id="notification" class="col-lg-4 navbar-btn">
                    <i class="fas fa-bell"></i>
                    @*<div class="nav-area__child"><h2>Notif</h2></div>*@
                </div>
            </nav>
            @Html.Partial("~/Views/Velo/Recent.cshtml")
        </div>
        <div class="scroll-photos-area" data-mdb-perfect-scrollbar='true'>
            @Html.Partial("~/Views/Velo/Photos.cshtml")
        </div>
        <div class="personal-info-area">
            <h1 class="personal-info-header" style="text-align: center;">Thông tin của tôi</h1>
            <div class="personal-info-general">
                <div class="personal-info-avatar">
                    <img class="personal-avatar" src="/assets/img/b1.jpg" alt="avatar" />
                </div>
                <div class="personal-name">
                    @Model.Account_ID
                </div>
            </div>
            <div class="manage-account">
                <h3 style="font-size: 150%">QUẢN LÝ TÀI KHOẢN</h3>
                <div class="info-frame">
                    <span class="glyphicon glyphicon-phone-alt" style="font-size: 100%"></span>
                    <label for="phone-number" class="info-label"> Số điện thoại</label>
                    <span class="info-detail">0123456789</span>
                </div>
                <div class="info-frame">
                    <span class="fas fa-envelope-square" style="font-size: 100%"></span>
                    <label for="email" class="info-label">Email</label>
                    <span class="info-detail">@Model.Email</span>
                </div>
                <div class="info-frame">
                    <span class="fab fa-font-awesome-flag" style="font-size: 100%"></span>
                    <label for="nationality" class="info-label">Ngày sinh</label>
                    @if (Model.DateOfBirth != null)
                    {
                        <span class="info-detail">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</span>
                    }
                    else
                    {
                        <span class="info-detail"></span>
                    }
                </div>
                <div class="info-frame">
                    <span class="fab fa-font-awesome-flag" style="font-size: 100%"></span>
                    <label for="nationality" class="info-label">Quốc tịch</label>
                    <span class="info-detail">@Model.Nationality</span>
                </div>
                <div class="info-frame">
                    <span class="fas fa-venus-mars" style="font-size: 100%"></span>
                    <label for="gender" class="info-label">Giới tính</label>
                    @*<span class="info-detail">@Model.Gender</span>*@
                    <span class="info-detail">Nam</span>
                </div>
                <div class="info-frame">
                    <span class="fas fa-child" style="font-size: 100%"></span>
                    <label for="hobby" class="info-label">Sở thích</label>
                    <span class="info-detail">@Model.Hobby</span>
                </div>
                <div class="info-frame">
                    <span class="far fa-credit-card" style="font-size: 100%"></span>
                    <label for="payment-account" class="info-label">Thẻ thanh toán</label>
                </div>
            </div>
            <div class="activity-status">
                <h3 style="font-size: 150%">TRẠNG THÁI HOẠT ĐỘNG</h3>
                <div class="info-frame">
                    <span class="fas fa-toggle-on" style="font-size: 100%"></span>
                    <label for="active-status" class="info-label">Trạng thái hoạt động gần đây</label>
                </div>
            </div>
            <div class="manage-language">
                <h3 style="font-size: 150%">NGÔN NGỮ</h3>
                <div class="info-frame">
                    <span class="fas fa-language" style="font-size: 100%"></span>
                    <label for="language" class="info-label">Ngôn ngữ</label>
                </div>
            </div>
            <div class="support-help">
                <h3 style="font-size: 150%">TRỢ GIÚP & HỖ TRỢ</h3>
                <div class="info-frame">
                    <span class="fas fa-hands-helping" style="font-size: 100%"></span>
                    <label for="support" class="info-label">Trợ giúp & Hỗ trợ</label>
                </div>
            </div>
            <div class="community">
                <h3 style="font-size: 150%">CỘNG ĐỒNG</h3>
                <div class="info-frame">
                    <span class="fas fa-users" style="font-size: 100%"></span>
                    <label for="community-rules" class="info-label"> Quy tắc cộng đồng</label>
                </div>
            </div>
            <div class="legal">
                <h3 style="font-size: 150%">PHÁP LÝ</h3>
                <div class="info-frame">
                    <span class="fas fa-user-shield" style="font-size: 100%"></span>
                    <label for="privacy-policy" class="info-label">Chính sách về quyền riêng tư</label>
                </div>
                <div class="info-frame">
                    <span class="fas fa-cookie" style="font-size: 100%"></span>
                    <label for="cookie-policy" class="info-label"> Chính sách về cookie</label>
                </div>
                <div class="info-frame">
                    <span class="fas fa-cog" style="font-size: 100%"></span>
                    <label for="privacy-setting" class="info-label">Cài đặt chính sách</label>
                </div>
                <div class="info-frame">
                    <span class="fas fa-book" style="font-size: 100%"></span>
                    <label for="terms-of-service" class="info-label">Điều khoản dịch vụ</label>
                </div>
            </div>
            <div class="log-out">
                <div class="log-out-frame">
                    <span class="glyphicon glyphicon-log-out" style="font-size: 100%"></span>
                    <label for="log-out" class="info-label">Đăng xuất</label>
                </div>
            </div>
            <div class="version">
                <div class="logo">
                    <img src="#" alt="Logo">
                </div>
                <h4 style="text-align:center">Phiên bản 8.88.8</h4>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/assets/js/eventHomePage.js"></script>
</body>
</html>
