@using Velo.Models
@model IEnumerable<ACCOUNT>

@*<div class="scroll-photo__child">
    <img class="fullfilled" src="/assets/img/g1.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>em gái mưa 1<span class="h4">(22)</span></h1>
        <h3>sở thích: <span>game</span></h3>
    </div>
</div>
<div class="scroll-photo__child">
    <img class="fullfilled" src="/assets/img/g2.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>em gái mưa 2<span class="h4">(21)</span></h1>
        <h3>sở thích: <span>game</span></h3>
    </div>
</div>
<div class="scroll-photo__child">
    <img class="fullfilled" src="/assets/img/g3.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>em gái mưa 3<span class="h4">(20)</span></h1>
        <h3>sở thích: <span>game</span></h3>
    </div>
</div>
<div class="scroll-photo__child">
    <img class="fullfilled" src="/assets/img/g4.jpg" />
    <div class="photo__detail">
        <h1>em gái mưa 4<span class="h4">(19)</span></h1>
        <h3>sở thích: <span>game</span></h3>
    </div>
</div>*@

@foreach (ACCOUNT acc in Model)
{
    <div class="scroll-photo__child" id="@acc.ID_User">
        <img class="fullfilled" src="@acc.Photos.Where(a=> a.isAvatar == true).FirstOrDefault().Link" />
        <div class="photo__detail bg-transparent">
            <h1>@acc.Account_ID<span class="h4"> @acc.DateOfBirth</span></h1>
            <h3>Sở thích: <span>@acc.Hobby</span></h3>
            <button class="chat-button">Nhắn tin</button>
        </div>
    </div>
}

<script>
    $('.chat-button').click(function (e) {
        $.ajax({
            data: { user_id: $('#id-user').val(), receiver_id: $(this).parent().parent().attr('id')},
            url: "/Velo/Chat",
        }).done(function (rs) {
            $('.scroll-photos-area').html(rs)
        }).fail(function (err) {
            console.log(err)
        })
    })
</script>
